<CassandraImporter>
	<hostName>192.168.56.101</hostName>
	<port>9160</port>
	<consistencyLevel>HConsistencyLevel.ONE</consistencyLevel>
        <columnFamily>csvCF</columnFamily>
	<keySpace>csvKS</keySpace>
	<importFile>/path-to-file/DB.csv</importFile>
	<delimeter>,</delimeter>
</CassandraImporter>



